@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$colorGray: #848789;
@mixin font ($fz, $fw, $ls, $tt, $col, $lh) {
  font-size: $fz;
  font-weight: $fw;
  letter-spacing: $ls;
  text-transform: $tt;
  color: $col;
  line-height: $lh;
}
@mixin flex ($fd, $jc, $ai)  {
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}
.wrapper {
  min-height: 100%;
}
.conteiner {
  font-family: 'Lato', sans-serif;
  @include font (18px, 400, normal, none, $colorGray, 34px);
  max-width: 1600px;
}
.header {
  &-nav {
    display: flex;
    @include flex (row, center, center);
    margin: 35px auto;
    position: relative;
    z-index: 1;
  }
  &__link {
    @include font (13px, 700, 2.6px, uppercase, #4d4959, normal);
    margin: 0px 35px 0px 0px;
  &:last-child {
    margin: 0px 0px 0px 0px;
  }
  &:nth-child(2):before {
    content: ".";
    margin: 0px 35px 0px 0px;
  }
  &:nth-child(5):before {
    content: ".";
    margin: 0px 35px 0px 0px;
  }
  }
  &__logo {
  margin: 0px 35px 0px 0px;
  }
}
.hamburger-menu {
  display: none;
}
/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; 
  align-items: center; 
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  min-width: 200px;
  min-height: 100%;
  margin: 0;
  padding: 60px 0;
  background-color: #ebedec;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  z-index: 1;
}
.menu__item-logo {
  display: none;
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  @include font (13px, 700, 2.6px, uppercase, #4d4959, normal);
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
@media (max-width: 750px) {
  .hamburger-menu {
    display: block;
  }
  .header-nav {
    display: none;
  }
  .main_img1 {
    margin: 70px 0 0;
  }
}
.main_img1 {
  &_bike {
    height: 100%;
    width: 100%;
    margin: -155px 0px 0px 0px;
  }
}
.text_block1 {
  display: flex;
  @include flex (column, flex-start, center);
  &_icon{
    margin: 117px auto 0px;
  }
}
.title {
  @include font (18px, 700, 3.6px, uppercase, #353738, normal);
}
.text {
  @include font (18px, 400, normal, none, $colorGray, 34px);
}
.text_block1_title {
  margin: 30px auto;
}
.text_block1_text {
  max-width: 1079px;
  text-align: center;
  margin: 0px 0px 142px 0px;
  padding: 0 30px;
}
@media (max-width: 1200px) {
  .text_block1 {
    &_icon {
      margin: 70px auto 0px;
    }
    &_text {
      margin: 0px 0px 70px 0px;
      text-align: justify;
    }
  }
}
@media (max-width: 992px) {
  .text_block1 {
    &_icon {
      margin: 50px auto 0px;
    }
    &_text {
      margin: 0px 0px 50px 0px;
      text-align: justify;
    }
  }
}
.main_block2 {
  display: flex;
  align-items: stretch;
}
.main_img2 {
  display: flex;
  flex: 0 1 66%;
  position: relative;
  &_bike {
    width: 100%;
    height: 100%;
  }
  &_logo {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1
  }
}
.main_side {
  flex: 0 1 34%;
  display: flex;
  flex-direction: column;
}
.text_block2 {
  flex: 1 0 auto;
  text-align: center;
  padding: 0px 60px 40px 60px;
  &_icon {
    margin: 70px auto 30px;
  }
  &_title {
    margin: 0px auto 25px;
  }
  &_text {
    text-align: justify;
    min-width: 398px;
    @media (max-width: 400px) {
      min-width: none;
    }
    &::after {
      content: "";
      display: block;
      width: 55px;
      height: 1.5px;
      background-color: $colorGray;
      margin: 35px auto;
    }
  }
}
.main_img3 {
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
  &_bike {
    width: 100%;
    height: 100%;
  }
  &::before {
    content: '';
    display:inline-block;
    position: absolute;
    top: 0;
    left: 48%;
    border: 10px solid transparent;
    border-top: 10px solid #ffff;
  }
}
@media (max-width: 1200px) {
  .text_block2 {
      padding: 0px 30px 20px 30px;
      &_icon {
        margin: 50px auto 20px;
      }
  }
}
@media (max-width: 992px) {
    .main_block2 {
      display: block;
    }
    .text_block2 {
      &_icon {
        margin: 30px auto 15px;
      }
    }
}
.main_block3 {
  display: flex;
  align-items: stretch;
}
.main_side3 {
  flex: 0 1 34%;
  display: flex;
  flex-direction: column;
}
.text_block3 {
  flex: 1 1 auto;
  text-align: center;
  padding: 0px 60px 40px 60px;
  text-align: center;
  justify-content: center;
  &_icon {
    margin: 70px auto 30px;
  }
  &_title {
    margin: 0px auto 15px;
  }
  &_text {
    text-align: justify;
    min-width: 398px;
    @media (max-width: 400px) {
      min-width: none;
    }
    &::after {
      content: "";
      display: block;
      width: 55px;
      height: 1.5px;
      background-color: $colorGray;
      margin: 35px auto;
    }
  } 
}
.main_img4 {
  flex: 0 1 auto;
  position: relative;
  &_bike {
    width: 100%;
    height: 100%;
  }
  &::before {
    content: '';
    display:inline-block;
    position: absolute;
    top: 0;
    left: 48%;
    border: 10px solid transparent;
    border-top: 10px solid #ffff;
  }
}
.main_img5 {
  display: flex;
  flex: 0 1 66%;
  position: relative;
  &_bike {
    width: 100%;
    height: 100%;
  }
  &_logo {    
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
  }
}
@media (max-width: 1200px) {
  .text_block3 {
    padding: 0px 30px 20px 30px;
    &_icon {
      margin: 50px auto 20px;
    }
  }
}
@media (max-width: 992px) {
  .main_block3 {
    display: block;
  }
  .text_block3 {
    &_icon {
      margin: 30px auto 15px;
    }
  }
}
.main_block4 {
  display: flex;
  align-items: stretch;
}
.main_img6 {
  display: flex;
  flex: 0 1 33%;
  position: relative;
  &_bike {
    width: 100%;
    height: 100%;
  }
  &_logo {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1
  }
}
.main_side4 {
  flex: 0 1 33%;
  display: flex;
  flex-direction: column;
}
.text_block4 {
  flex: 1 0 auto;
  text-align: center;
  padding: 0px 60px 40px 60px;
  &_icon {
    margin: 70px auto 30px;
  }
  &_title {
    margin: 0px auto 25px;
  }
  &_text {
    text-align: justify;
    min-width: 398px;
    @media (max-width: 400px) {
      min-width: none;
    }
    &::after {
      content: "";
      display: block;
      width: 55px;
      height: 1.5px;
      background-color: $colorGray;
      margin: 35px auto;
    }
  }
}
.main_img7 {
  flex: 0 1 auto;
  position: relative;
  &::before {
    content: '';
    display:inline-block;
    position: absolute;
    top: 0;
    left: 48%;
    border: 10px solid transparent;
    border-top: 10px solid #ffff;
  }
  &_bike {
    width: 100%;
    height: 100%;
  }
}
.main_img8 {
  display: flex;
  flex: 0 1 34%;
  position: relative;
  &_bike {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1200px) {
  .text_block4 {
    padding: 0px 30px 20px 30px;
    &_icon {
      margin: 50px auto 20px;
    }
  }
}
@media (max-width: 992px) {
  .main_block4 {
    display: block;
  }
  .text_block4 {
    &_icon {
      margin: 30px auto 15px;
    }
  }
}
.text_block5 {
  display: flex;
  @include flex (column, flex-start, center);
  width: 100%;
  text-align: center;
  &_icon{
    width: 35px;
    height: 35px;
    margin: 115px auto 30px;
  }
}
.text_block5_text {
  max-width: 1079px;
  text-align: center;
  margin: 30px 0px 100px 0px;
  padding: 0 30px;
}
.slide:not(:first-child) {
  display: none;
}
.text_block5-form {
  margin-bottom: 65px;
  color: $colorGray;
}
input[type='radio'] {
  &:not(:last-child) {
    margin-right: 10px;
  }
  &:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid $colorGray;
  }
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: $colorGray;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid $colorGray;
}
@media (max-width: 1200px) {
  .text_block5 {
    &_icon {
      margin: 70px auto 20px;
    }
    &_text {
      margin: 20px 0px 70px 0px;
      text-align: justify;
    }
    &-form {
      margin-bottom: 45px;
    }
  }
}
@media (max-width: 992px) {
  .text_block5 {
    &_icon {
      margin: 50px auto 20px;
    }
    &_text {
      margin: 20px 0px 40px 0px;
      text-align: justify;
    }
  }
}
.main_block6 {
  display: flex;
}
.block6_part1 {
  max-width: 33.333%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &-top {
    display: flex;
  }
}
.block6_part2 {
  max-width: 33.333%;
  display: flex;
  overflow: hidden;
}
.block6_part3 {
  max-width: 33.333%;
  display: flex;
  flex-direction: column;
  &-bottom {
    display: flex;
  }
}
.block6_img img {
  width: 100%;
  height: 100%;
}
.block6_img {
  position: relative;
  &:after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #58a589 url(/img/logo/Logo_2.svg) no-repeat center;
    opacity: 0.6;
  }
  &:hover::after {
    display: block;
  }
  
}
.main_block7 {
  min-height: 200px;
  background-color: #353738;
  display: flex;
  @include flex (row, center, center);
  &-button {
    width: 300px;
    height: 52px;
    border: 1px solid $colorGray;
    text-align: center;
    line-height: 52px;
    & button {
      background-color: inherit;
      @include font (14px, 800, 5px, none, white, normal);
    }
  }
}
@media (max-width: 750px) {
  .main_block7 {
    min-height: 150px;
    &-button {
      width: 200px;
      height: 40px;
      line-height: 40px;
      & button {
        @include font (12px, 700, 3px, none, white, normal);
      }
    }
  }
}
.main_block8 {
  min-height: 470px;
  display: flex;
  @include flex (column, flex-start, center);
  &-icon {
    margin: 105px auto 45px;
  }
  &-text {
    margin: 0 auto 45px;
    font-style: italic;
    font-size: 24px;
  }
}
.block8-form {
  display: flex;
  justify-content: center;
}
.block8_input {
  font-style: italic;
  border: 1px solid $colorGray;
  min-width: 400px;
  min-height: 70px;
  padding-left: 30px;
  @include font (20px, normal, 1px, none, $colorGray, normal);
  margin-right: 10px;
  &:active {
    border: 2px solid #58a589;
  }
  @media (max-width: 400px) {
    min-width: 200px;
  }
}
.block8_button {
  min-width: 125px;
  min-height: 70px;
  @include font (20px, 100, 1px, none, white, 70px);
  background-color: #58a589;
  text-align: center;
}
@media (max-width: 1200px) {
  .main_block8 {
    min-height: 400px;
    &-icon {
      margin: 75px auto 35px;
    }
    &-text {
      margin: 0 auto 35px;
    }
  }
}
@media (max-width: 992px) {
  .main_block8 {
    min-height: 350px;
    &-icon {
      margin: 45px auto 35px;
    }
  }
}
@media (max-width: 750px) {
  .main_block8 {
    min-height: 300px;
    &-icon {
      margin: 35px auto 25px;
    }
    &-text {
      margin: 0 auto 25px;
      font-size: 20px;
    }
  }
  .block8_input {
    min-width: 300px;
    min-height: 50px;
    padding-left: 20px;
    @include font (18px, normal, 1px, none, $colorGray, normal);
    @media (max-width: 400px) {
      min-width: none;
    }
  }
  .block8_button {
    min-width: 100px;
    min-height: 50px;
    @include font (18px, 100, 1px, none, white, 50px);
  }
}
@media (max-width: 450px) {
  .main_block8 {
    &-icon {
      margin: 20px auto 20px;
    }
    &-text {
      margin: 0 auto 20px;
      font-size: 18px;
    }
  }
  .block8-form {
    display: block;
  }
  .block8_input {
    display: block;
    margin: 0 auto 15px;
    min-width: 300px;
    min-height: 40px;
    padding-left: 15px;
    @include font (14px, normal, 1px, none, $colorGray, normal);
    @media (max-width: 400px) {
      min-width: none;
    }
  }
  .block8_button {
    display: block;
    margin: 0 auto;
    min-width: 80px;
    min-height: 40px;
    @include font (18px, 100, 1px, none, white, 40px);
  }
}
.footer_wrapper {
 background-color: #ebedec;
}
.footer {
  min-height: 250px;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  @include flex (row, space-between, center);
  @include font (14px, normal, normal, none, $colorGray, 20px);
  &_contects {
    display: flex;
    flex-direction: column;
    font-style: italic;
    &-city {
      font-weight: 700;
    }
  }
  &_socials {
    & a:not(:last-child) {
      margin-right: 15px;
    }
    &-icon {
      max-width: 40px;
      max-height: 40px;
      opacity: 0.8;
    }
  }
  &_handcrafted {
    justify-self: flex-end;
    display: flex;
    font-style: italic;
    align-items: center;
    &-img {
      margin-left: 5px;
      opacity: 0.7;
    }
  }
}
@media (max-width: 1200px) {
  .footer {
    min-height: 220px;
    max-width: 950px;
  }
}
@media (max-width: 992px) {
  .footer {
    min-height: 250px;
    max-width: 800px;
    &_socials {
      & a:not(:last-child) {
        margin-right: 12px;
      }
      &-icon {
        max-width: 35px;
        max-height: 35px;
      }
    }
    &_handcrafted {
      &-img {
        margin-left: 0px;
      }
    }
  }
}
@media (max-width: 850px) {
  .footer {
    min-height: 200px;
    max-width: 700px;
    @include font (12px, normal, normal, none, $colorGray, 18px);
    &_socials {
      & a:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}
@media (max-width: 750px) {
  .footer {
    min-height: 150px;
    max-width: 600px;
    &_contects {
      display: flex;
    }
    &_handcrafted {
      display: flex;
    }
  }
}
@media (max-width: 550px) {
  .footer {
    min-height: 100px;
    justify-content: center;
    &_contects {
      display: none;
    }
    &_handcrafted {
      display: none;
    }
  }
  .title {
    @include font (14px, 700, 2.5px, uppercase, #353738, normal);
  }
  .text {
    @include font (14px, 400, normal, none, $colorGray, 27px);
  }
}

